  path {
    stroke-width: 1px;
    stroke: white;
    fill: #999;
    cursor: pointer;
  }

  path.domain {
    cursor: default;
  }
  
  div.tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 2px 4px;
  }